.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1 {
        font-size: 25px;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.main {
    width: 100%;
    background-color: #f2f4f6;
}

.inner {
    margin: 0px auto;
    padding-top: 120px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-submit,
.btn-save-des {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    gap: 50px;
    button {
        width: 50%;
        border: 2px solid;
        height: 40px;
        border-radius: 20px;
        background-color: #efefef;
        font-weight: bold;
    }
    button:hover {
        background-color: #3a3a3a;
        color: #fff;
        transition: 0.4s;
    }
}

.form-upload-image {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;

    input[type='file'] {
        display: none;
    }
    img {
        height: 200px;
    }
    label {
        cursor: pointer;
        font-size: 25px;
        font-weight: 800;
    }
    #icon-animation {
        position: relative;
        animation-name: pippo;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}

@keyframes pippo {
    0% {
        top: 0%;
    }
    100% {
        top: 55%;
    }
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    img {
        width: 120px;
        height: 100px;
    }
}

#btn-update {
    margin-left: 10px;
}

.btn-select {
    width: 100%;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ccc;
    button {
        background: #cc1e1e;
        border-radius: 5px;
        height: 40px;
        color: #fff;
        border: none;
        padding: 10px;
        margin-bottom: 10px;
    }
    button:hover {
        transition: 0.3s;
        background-color: #ed1c24;
    }
}

@media only screen and (max-width: 600px) {
    .inner {
        width: 100%;
    }
    #btn-update {
        margin-top: 10px;
        margin-left: 0px;
    }
    .btn-select {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
